* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
}

.header {
  position: relative;
}
.header-conteiner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-self: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main {
  min-height: 100vh;
}
.back-img {
  transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
}
.middle-img{
  transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}